# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
#
# Run "composer dump-env prod" to compile .env files for production use (requires symfony/flex >=1.2).
# https://symfony.com/doc/current/best_practices.html#use-environment-variables-for-infrastructure-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=9a7be6c4a67659b3d6afcf663509b552
###< symfony/framework-bundle ###

ORDERS_JSON_FILE_URL=https://s3-ap-southeast-2.amazonaws.com/catch-code-challenge/challenge-1/orders.jsonl
ORDERS_FILE_SAVED_PATH="/srv/app/public"
ORDERS_OUTPUT_FILE_NAME="out"

###> symfony/mailer ###
MAILER_DSN=smtp://<gmail username>:<gmail password>@smtp.gmail.com:25
MAILER_FROM=support@catch.com.au
###< symfony/mailer ###

### The API to get lat and long from an address ###
OPEN_STREET_MAP_API=https://nominatim.openstreetmap.org/search?format=json&polygon=1&addressdetails=1&q=
